# Data types and type conversion

- every value in Python has a type
- integer (int): positive or negative whole numbers
- floats, floating point numbers: decimal, real numbers, 3.14
- character strings (string, str): text ("max paulus")
- boolean (bool): truth values, True, False

In [1]:
age = 11

In [2]:
# print() takes sequence of values/variables, 
# type() takes value/variable
#type(age)
print(type(age))

<class 'int'>

In [3]:
type_age = type(age)
print(type_age)

<class 'int'>

In [4]:
# in R tidyverse this would be type(age) %>% print()

In [5]:
print(age)

11

In [6]:
age = age + 2

In [7]:
print(age)

13

In [ ]:
participant_