# Data types and type conversion

- every value in Python has a type
- integer (int): positive or negative whole numbers
- floats, floating point numbers: decimal, real numbers, 3.14
- character strings (string, str): text ("max paulus")
- boolean (bool): truth values, True, False

In [1]:
age = 11

In [2]:
# print() takes sequence of values/variables, 
# type() takes value/variable
#type(age)
print(type(age))

<class 'int'>

In [3]:
type_age = type(age)
print(type_age)

<class 'int'>

In [4]:
# in R tidyverse this would be type(age) %>% print()

In [5]:
print(age)

11

In [6]:
age = age + 2

In [7]:
print(age)

13

In [17]:
country_origin = "Germany"

In [9]:
print(country_origin)

Germany

In [10]:
print(type(country_origin))

<class 'str'>

In [11]:
print(age + 2)

15

In [12]:
print(country_origin + 2)

TypeError: can only concatenate str (not "int") to str

In [13]:
print(country_origin + "_North")

Germany_North

In [14]:
print(country_origin)

Germany

In [15]:
country_origin = country_origin + "_North"

In [18]:
print(country_origin)

Germany

In [19]:
print(country_origin)

Germany

In [20]:
# reminder: character string
print(country_origin[0])

G

In [ ]:
# R: starts counting at 1
# Python: starts counting at 0

In [21]:
print(country_origin[1])

e

In [22]:
print(country_origin[10])

IndexError: string index out of range

##