# Loops
Loops run the same task on a collection

In [4]:
heights_m = [0, 0, 10, 5, 2]

In [5]:
heights_m[0] + 1

1

In [6]:
heights_m [1] + 1

1

In [ ]:
for height in heights_m:
    print(height)

In [8]:
for height in heights_m:
    new_height = height + 1
    print(new_height)

1
1
11
6
3

In [9]:
print(height)

2

In [10]:
height = 150
for height in heights_m:
    print(height)

0
0
10
5
2

In [11]:
print(height)

2

In [14]:
heights_m = [0, 0, 10, 5, 2]
new_heights_m = []
for height in heights_m:
    print("starting height", height)
    new_height = height + 1
    new_heights_m.append(new_height)
    print("new heights length", 
          len(new_heights_m))

print(new_heights_m)

starting height 0
new heights length 1
starting height 0
new heights length 2
starting height 10
new heights length 3
starting height 5
new heights length 4
starting height 2
new heights length 5
[1, 1, 11, 6, 3]

In [1]:
name_list = ["Bob", 
             "Gerald", 
             "Fred", 
             "Monica", 
             "Eva",
             "Jessica",
             "Rita"]
# For each name in name_list
# Get the length of the name
# Store it in a list
# Use a for loop

In [2]:
length_list = []
for name_str in name_list:
    name_length = len(name_str)
    length_list.append(name_length)

print(length_list)

[3, 6, 4, 6, 3, 7, 4]

In [ ]:
# Get total length of all strings in name_list
# You should end up with a single number
# (You can also use the list you just made!)

In [3]:
total_length = 0
for length_str in length_list:
    total_length = total_length + length_str
    print(total_length)

print(total_length)

3
9
13
19
22
29
33
33